<CinnamonConfig>
  <serverConfig>
    <port>9090</port>
    <systemRoot>/opt/cinnamon/cinnamon-system</systemRoot>
    <dataRoot>/opt/cinnamon/cinnamon-cache</dataRoot>
    <lockAcquisitionTimeoutMillis>300000</lockAcquisitionTimeoutMillis>
    <lockAcquisitionCheckPeriodMillis>1000</lockAcquisitionCheckPeriodMillis>
  </serverConfig>
  <systemAdministratorEmail/>
  <remoteConfig>
    <hostname>localhost</hostname>
    <protocol>http</protocol>
    <port>8080</port>
    <contentUrl>/cinnamon/osd/getContentXml</contentUrl>
    <currentUrl>/cinnamon/osd/isCurrent</currentUrl>
  </remoteConfig>
</CinnamonConfig>
